body{
background:url("../Image/bg.jpg");
}
#tab{
background-color: rgba(0,0,0,0.3);
top: 110px;
position: relative;
left: 100px;
height: 300px;
width: 400px;
box-shadow: 5px 5px 5px 0;
}
#lo{
color: #c82121;
padding: 15px;
margin-left: 140px;
}
#in{
height: 30px;
width: 300px;
margin-left: 45px;
border-style: dotted;
border-color: #fed9ca;
border-radius: 4px 5px 4px 5px;
background-color: #becbff;
box-shadow: 2px 2px 2px 0;
}
#but{
height: 30px;
width: 65px;
margin-left: 170px;
background-color: #7d7d7d;
}
#fp{
text-decoration: none;
margin-left: 197px;
}
